.skillsLi {
    width: 150px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1px;
    list-style: none;
}

.skillsLi img {
    width: 100px;
    height: auto;
    transition: .5s;
}

.skillsLi img:hover {
    transform: translate(0px, -5px);
}

@media (max-width: 344px) {
    .skillsLi {
        width: 100%;
    }
}

@media (max-width: 344px) {
    .skillsLi {
        width: 100%;
        flex-direction: row;
        column-gap: 35px;
    }
}