.about {
    display: flex;
    align-items: center;
    padding: 20px 35px;
    overflow-x: hidden;
}

.imgContainer {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.text {
    padding: 5px 20px 15px 20px;
    background-color: rgba(200, 200, 200, .6);
    border-radius: 20px;
}

.text h2,
.text h3,
.text p {
    margin: 0;
    color: #d9d9d9;
}

.text h2 {
    color: #4EE1A0;
    font-size: 24px;
}

.text h3 {
    color: #4EE1A0;
    font-size: 22px;
}

.text p {
    color: #d9d9d9;
    font-size: 18px;
    text-indent: 1.5rem;
    text-align: justify;
}

@media (max-width: 2000px) {
    .text h2 {
        font-size: 20px;
    }
    
    .text h3 {
        font-size: 18px;
    }
    
    .text p {
        font-size: 14px;
    }
}

@media (max-width: 1440px) {
    .about {
        flex-direction: column;
    }

    .textContainer {
        width: 90%;
    }
}