.skills {
    width: 100%;
    min-height: 100%;
    padding: 2rem 5% 2rem 5%;
    z-index: 10;
}

.skills h2 {
    margin: 0;
}

.knowedSkills,
.unknowedSkills {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.unknowedSkills {
    margin-top: 150px;
}

.skills ul {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0;
    column-gap: 10px;
}

@media (max-width: 877px) {
    .knowedSkills ul {
        justify-content: start;
    }

    .unknowedSkills {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .skills h2 {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .skills h2 {
        font-size: 16px;
    }
}

@media (max-width: 330px) {
    .skills h2 {
        font-size: 14px;
    }
}