.skills {
    width: 100%;
    min-height: 100%;
    padding: 2rem 5% 2rem 5%;
    z-index: 10;
}

.skills h2 {
    margin: 0;
}

.knowedSkills,
.unknowedSkills {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.unknowedSkills {
    margin-top: 100px;
}

.skills ul {
    min-height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    column-gap: 10px;
    background-color: rgba(200, 200, 200, .6);
    border-radius: 20px;
}

@media (max-width: 877px) {
    .knowedSkills ul {
        justify-content: start;
        padding-top: 10px;
    }

    .unknowedSkills {
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .skills h2 {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .skills h2 {
        font-size: 16px;
    }
}

@media (max-width: 344px) {
    .skills ul {
        justify-content: center;
    }
}

@media (max-width: 330px) {
    .skills h2 {
        font-size: 14px;
    }
}